h1 {
    font-size: 32px !important;
}

.auth {
    height: 100vh;
    display: flex;
    align-items: center;
}

#inputField {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;height: 65px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

#inputField > input {
    padding: 12px;
    border-radius: 3px;
    border: solid 1px #FFFFFF;
}

.suggested{
    margin-top:32px
}