.avatarImage {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 -0 8px 1px #FFFFFF;
}

.avatar {
    margin-top: 32px
}

.avatarName {
    text-align: center !important;
    font-size: large;
    margin-bottom: 32px;
}

.skills > h3 {
    font-size: medium;
}

.avatarName,
.skills > h3,
.skill > h4 {
    font-weight: 300;
    text-align: left;
}

.skills > h3,
.skill > h4 {
    margin: 12px 0;
}

.skill {
    margin-bottom: 32px;
}

.skill > div > p {
    padding-left: 5px;
}

.skill > div > p,
.skill > h4 {
    font-size: 14px;
    color: #a0a0a0;
}

.skill > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.skillTag {
    background-color: #292929 !important;
    border-radius: 25px;
    padding: 6px 10px;
    font-size: 14px;
}