@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

#root {
  max-width: 1280px;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Mulish","Helvetica","Arial",sans-serif
}

main {
  background-color: rgb(25, 25, 25);
  
}

.mainLayout {
  padding: 0 32px 32px;

}

@media (min-width: 768px){
  main {
    max-width: 360px;
    margin: auto;
  }
  .mainLayout{
    box-shadow: 0px 0px 4px white; 
    border-radius: 3px;
    margin-top: 32px;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
}
